body{
	color:#555555;
	font-family: Arial, sans-serif;
	font-size: 18px;
	background-color: purple;
}
h1, h2, h3, h4{
	color: #a9268d;
	font-family: 'oswald', Arial, sans-serif;
	text-align: center;
}
.list-nav{
	text-align: center;
}
.list-nav li{
	display: inline-block;
}
.list-nav a{
	display: block;
	padding:15px 20px;
	color:#aaaaaa;
	font-family: 'Oswald', Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.5s;
}
.list-nav a:hover{
	text-decoration: none;
	background-color: #ececec;
	transform: scale(1.2);
}
/*header*/
.header-content{
	background:url("../images/playa.jpg.jpg")center bottom; 
	background-size:cover;
	color:#fff;
	text-align: center;
	padding:150px 0;
	margin:0 100px 30px 100px;
}
.header-content h1{
	color:#fff;
}
.about-me .biografia img{
	float:left;
	width: 200px;
	margin-right:25px;
	border:1px solid #555555;
	padding:5px;
}
.about-me .container p{
	margin:0 100px;
	text-align: justify;
}
.about-me, .favorites{
	background:url(../images/tile1.png);
	margin:10px 100px;
	padding:45px 0;
}
.favorites img{
	width: 180px;
	height:180px;
	border-radius: 50%;
	border:1px solid #555555;
	padding:5px;
	margin:45px 30px;
}
.favorites, .contacto{
	text-align: center;
	padding:45px 0;
}
.contacto{
	background:url(../images/tile2.png);
	margin:20px 100px;
	margin-bottom:60px;
}
.contacto img{
	border-radius: 50%;
	border:1px solid #555555;
	padding:5px;
	margin:30px;
}